body {
	background-image:url("/assets/images/sitebackground.png");
}

form {
	background-image:url("/assets/images/background-1.jpg");
    margin: 0 auto;
    padding: 20px;
	margin-top:10%;
    width: 450px; 
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
output,
textarea {
    margin: 0 0 20px 0;
    padding: 2px 5px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: middle;
	margin-top:10px;
}

input,
select {
    height: 24px;
}

output {
    display: inline-block;
    margin: 0 5px 10px 0;
    width: 30px;
    height: 20px;
    text-align: center;
}

select[multiple] {
    height: 100px;
}

input[type="submit"],
input[type="reset"] { 
    display: inline-block;
    margin: 0 5px;
    padding: 6px 15px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 5px;
    background: #2c3e50;
    color: #fff;
}
input[type="submit"]:hover,
input[type="reset"]:hover{
	color:red;
}

input[disabled] {
    background-color: #ebebe3;
}

.druz {
	display:block;
	position:absolute;
	left:5%;
	top:5%;
}
.vasser {
	display:block;
	position:absolute;
	left:65%;
	top:5%;
}
.game_name {
	position:absolute;
	left:38%;
	top:5%;
}
.game_name p {
	font-size:40pt;
	text-shadow: 0 1px 0 #ccc, 
	0 2px 0 #c9c9c9,
	0 3px 0 #bbb,
	0 4px 0 #b9b9b9,
	0 5px 0 #aaa,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
	
	
}
/*REG.php*/
.to_main {
	display: inline-block;
    margin: 0 5px;
	margin-top:15px;
    padding: 6px 15px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 5px;
    background: #2c3e50;
    color: #fff;
}
.to_main a{
	color:white;
}
.to_main a:hover{
	color:red;
}
